@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'Syne Mono', monospace;
}

main {
    padding:16px;
    
}

footer {
    padding:24px 0 24px 24px;
    background-color: greenyellow;
    font-size: medium;
}

header {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: orangered;
    
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

a {
    text-decoration: none;
    color: green;
    
}

h1 {
    color: forestgreen;
}

nav > a {
    color: white;
}


tr:nth-child(even) {
    background-color: lightgrey;
}